body {
    /*
 background-image: url(./assets/bg-mobile.jpg) ;
 background-repeat: no-repeat;
 background-position:top center ;
 background-size:cover; */
 /*Background:color image repeat position/size*/
 background: var(--background) top center/cover;
 height: auto;
 
 
}

:root {
    --text-color:white;
    --background:#313030;
    --background-container:#444444;
    --surface-color:  rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color:rgba(255, 255, 255, 0.2);
    --moon-sun:white url(./assets/moon-stars.svg) no-repeat center;
    --color-p:#ccff33;
}
/*adadada*/
.light {
    --text-color:black; 
    --background:url(./assets/bg-mobile-light.jpg) ;
    --background-container: #d6cfd3;
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color:rgba(0, 0, 0, 0.1);
    --moon-sun:white url(./assets/sun.svg) no-repeat center;
    --color-p: #ff007f;
    
}

 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
  }

/*CSSTRICKS.COM ACESSAR*/
#container {
    /*a baixo esta indicando que ele ficara 100% ate chegar na largura maxima de 588px da tela*/
    width: 588px;
    max-width: 100%;
    
    margin: 68px auto 78px;
    padding:35px 25px 5px 25px;
    background-color: var(--background-container);
    border-radius: 2%;
    /*margin: top right bottom left(igual um relogio )*/
}

#profile img{
    width: 110px;  
}

#profile {
    margin:auto;
    padding: 24px;
    text-align: center;
}

#profile p {
font-weight: 500;
line-height: 24px;
margin-top:8px;
}

#p-container {
    color:var(--color-p);
}

#switch {
    width: 64px;
    position: relative;
    margin: 0 auto;
    
    
}

#switch button{
    width: 32px;
    height: 32px;
    background: var(--moon-sun);
    border: 0;
    border-radius: 50%;
    
    position: absolute;
    z-index: 1;
    
    transform: translateY(-50%);
    top: 50%;
    animation: slide-out 0.2s ;
    
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
    transition: 0.2s;
}

#switch span {
    display:block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
    
    /*dadadada*/
    /*ola estou ajeitando o codigo*/
}


.light #switch button {
    
   animation: slide-in 0.4s forwards;
}

#links{
    padding:24px;
}

#descricao {
    margin: 24px ;
  text-align: center;
}

ul {
    list-style: none;
    margin: 0 24px  ;
    display:flex;
    flex-direction: column;
    gap: 16px;  
    padding: 5px; 
}

/*li= lista de itens*/
/*a= os links que é acessado */
ul li a{
    border-radius: 8px;
    background: var(--surface-color);
    
    padding:24px 0;

    display:flex;
    justify-content:center;
    align-items: center;
    
    backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: 500;

    transition: background 0.5s ;

}

/*pseudo-selector
Houver serve para alteração de cor e etc, logo que passa o cursosr em cima*/
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links {
    display: flex;
    padding: 16px 0;
    justify-content: center;
    font-size: 24px;
}

#footer {
    display: flex;
    justify-content: center;
    font-weight:100;
    padding:24px 0;
}

#social-links a{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:16px;
    border-radius: 50%;
    transition: background 0.2s;

}

#social-links a:hover {
    background: var(--highlight-color)

}

/*media queries*/
/*so funciona se tiver essa linha em seu HTML : <meta name="viewport" content="width=device-width, initial-scale=1.0">*/
@media (min-width: 700px )/*se for a cima disso faça*/{
    :root {
        

    }
    .light {
        

    }
}


/*animação*/

@keyframes slide-in{
from {
left: 0;
}
to{
    left: 50%;

}
}

@keyframes slide-out {
    from {
        left:50%;
    }
    to{
        left: 0;
    }
}
